.main-div {
  display: grid;
  grid-template-columns: 1fr;

  margin: 150px 250px;
  margin-left: 200px;
}
.btn {
  margin-left: 6px;
  padding: 5px 10px;
  border-radius: 7px;
  background-color: #fe6d73;
}
.input-box {
  padding: 5px 35px;
  border-radius: 14px;
  margin-left: 80px;
  border: 3px solid;
}
h1 {
  text-align: center;
}
body {
  background-color: #17c3b2;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li {
  margin-top: 15px;
  border-radius: 4px;
  background-color: #ffcb77;
  padding-right: 140pxs;
  padding-top: 1px;
  position: relative;
  border: 3px solid;
}

.btn-delete {
  position: absolute;
  right: 0;
  border-radius: 4px;
  background-color: #227c9d;
  margin: auto 0;
}
.list-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
